@model List<Portfolio>
<section id="works" class="s-works target-section">

    <div class="row narrow section-intro has-bottom-sep">
        <div class="col-full">
            <h3>Portföyüm</h3>
            <h1>Son Projelerim</h1>
        </div>
    </div>

    <div class="row masonry-wrap">
        <div class="masonry">

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="~/hola-master/images/ForestFire.jpeg" class="thumb-link" title="Data Analyze in Forest Fires" data-size="1050x700">
                            <img src="~/hola-master/images/ForestFire.jpeg"
                                 srcset="~/hola-master/images/ForestFire.jpeg 1x, ~/hola-master/images/ForestFire.jpeg 2x" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Data Analyze in Forest Fires
                        </h3>
                        <p class="item-folio__cat">
                            Data Analysis
                        </p>
                    </div>

                    <a href="https://github.com/bugraonsoz/ForestFireDataset" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                    <div class="item-folio__caption">
                        <p>Portekiz'de Montesinho Park'ta gerçekleşen orman yangınlarının verilerini analiz ettim.</p>
                    </div>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->


            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="~/hola-master/images/diyabet-1024x576.jpg" class="thumb-link" data-size="1050x700">
                            <img src="~/hola-master/images/diyabet-1024x576.jpg"
                                 srcset="~/hola-master/images/diyabet-1024x576.jpg 1x, ~/hola-master/images/diyabet-1024x576.jpg 2x" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Data Analyze in Diabetes Patients
                        </h3>
                        <p class="item-folio__cat">
                            EDA for Data Analysis
                        </p>
                    </div>

                    <a href="https://github.com/bugraonsoz/DiabetesDataset" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                    <span class="item-folio__caption">
                        <p>Diyabet Hastalarının verilerini istatistiksel biçimde değerlendirip belirli bir sonuç elde ettim.</p>
                    </span>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="~/hola-master/images/OtomotivDatabase.jpeg" class="thumb-link" data-size="1050x700">
                            <img src="~/hola-master/images/OtomotivDatabase.jpeg"
                                 srcset="~/hola-master/images/OtomotivDatabase.jpeg 1x, ~/hola-master/images/OtomotivDatabase.jpeg 2x" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Query of Automotive Database
                        </h3>
                        <p class="item-folio__cat">
                            Database Management System
                        </p>
                    </div>

                    <a href="https://github.com/bugraonsoz/OtomotivDatabase" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                    <span class="item-folio__caption">
                        <p>Hayali bir otomotiv grubunun tedarikçileri müşterileri çalışanları ve yöneticilerinin olduğu, <br />
                            C# Form üzerinden ise istenilen tabloyu sorgu biçiminde getiren bir proje yaptım.</p>
                    </span>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="~/hola-master/images/HalisindenEmlak.jpeg" class="thumb-link" data-size="1050x700">
                            <img src="~/hola-master/images/HalisindenEmlak.jpeg"
                                 srcset="~/hola-master/images/HalisindenEmlak.jpeg 1x, ~/hola-master/images/HalisindenEmlak.jpeg 2x" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Halisinden Emlak
                        </h3>
                        <p class="item-folio__cat">
                            Web Development
                        </p>
                    </div>

                    <a href="https://github.com/bugraonsoz/HalisindenEmlakSitesi" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                    <span class="item-folio__caption">
                        <p>Hayali bir emlak firmasının sitesini yaptım.</p>
                    </span>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->
        </div>
    </div>
</section>